<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DiscountPageEntities" connectionString="metadata=res://*/DropDownEdmxFile.csdl|res://*/DropDownEdmxFile.ssdl|res://*/DropDownEdmxFile.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PADDEDG\SQLEXPRESS;initial catalog=DiscountPage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DiscountPageEntities1" connectionString="metadata=res://*/Discounts.csdl|res://*/Discounts.ssdl|res://*/Discounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PADDEDG\SQLEXPRESS;initial catalog=DiscountPage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DiscountPageEntities2" connectionString="metadata=res://*/DiscountPageInfo.csdl|res://*/DiscountPageInfo.ssdl|res://*/DiscountPageInfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PADDEDG\SQLEXPRESS;initial catalog=DiscountPage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DiscountPageEntities3" connectionString="metadata=res://*/CDtable.csdl|res://*/CDtable.ssdl|res://*/CDtable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PADDEDG\SQLEXPRESS;initial catalog=DiscountPage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>